{{>components/head}}
<div class="container">

    <div class="header page-header">
        <img src="http://localhost:8080/images/companyLogo.png" alt="Company Logo" width="100px" class="mrg-top-30">

        <h1>Molveno Lake Resort</h1>

    </div>

    <h2>Dishes</h2>

    <button id="addDishBtn" class="btn btn-primary"> Add Dish </button>
    <br>
    <br>

    <table id="dishTable" class="table table-bordered table-hover white-bg">
        <thead>
        <tr>
            <th data-data="name">Name</th>
            <th data-data="price">Price in €</th>
            <th data-data="description">Description</th>
            <th data-data="category">Category</th>
        </tr>
        </thead>
    </table>

    <div id="dishModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button class="close"  data-dismiss="modal">&times;</button>
                    <h3 id="modal-title" class="modal-title">Dish</h3>

                </div>
                <div class="modal-body">

                    <form enctype='text/plain'>

                        <div class="form-group">
                            <label for="name">Dish name</label>
                            <input id="name" type="text" class="form-control" placeholder="Dish name" required>
                        </div>

                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" type="number" class="form-control" placeholder="Suggested price" required>
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" type="text" class="form-control" placeholder="Description">
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <select name="category" id="category" required>
                                <option value="Starter" selected data-default>Starter</option>
                                <option value="Main">Main</option>
                                <option value="Dessert">Dessert</option>
                                <option value="NonAlcoholicDrinks">NonAlcoholicDrinks</option>
                                <option value="AlcoholicDrinks">AlcoholicDrinks</option>
                            </select>
                        </div>

                    </form>
                    <br>

                    <h3 class="modal-title page-header">Ingredients</h3>
                    <br>

                    <button id="addIngredientBtn" class="btn btn-primary">Add ingredient</button>


                    <table id="dishIngredientEntryTable" class="table table-bordered table-hover white-bg" style="width:100%">
                        <thead>
                        <tr>
                            <th data-data="id" data-visible="false">Id</th>
                            <th data-data="ingredient.ingredientName">Ingredient</th>
                            <th data-data="quantity">Quantity</th>
                            <th data-data="ingredient.unit">Unit</th>
                        </tr>
                        </thead>
                    </table>

                </div>
                <div class="modal-footer">

                    <button id="btnsubmit" class="btn btn-primary">Submit</button>
                    <button id="btndelete" class="btn btn-danger">Delete</button>
                    <button id="btnclose" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    {{>components/ingredientModal}}

</div>

<script src="http://localhost:8080/js/changeMenuScreen.js"></script>
{{>components/footer}}