{{>header}}
<div class="container">
    <h1>Ingredients</h1>

    <table id="ingredientTable" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="ingredientName">Naam</th>
            <th data-data="stock">Voorraad</th>
        </tr>
        </thead>
    </table>

    <button id="addButton" class="btn btn-primary">Add ingredient</button>
</div>

<div id="entryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
                <h3 id="modal-title" class="modal-title">Ingredient</h3>

            </div>
            <div class="modal-body">

                <form id="ingredientForm" enctype='text/plain'>
                    <div ></div>
                    <div class="form-group">
                        <label for="ingredientName">Name</label>
                        <input id="ingredientName" type="text" class="form-control" placeholder="ingredientName">
                    </div>

                    <div class="form-check">
                        <label for="minimumStock">Minimum stock</label>
                        <input id="minimumStock" type="number" class="form-control" placeholder="minimumStock">
                    </div>

                    <div class="form-check">
                        <label for="stock">Current stock</label>
                        <input id="stock" type="number" class="form-control" placeholder="stock">
                    </div>
                </form>

            </div>
            <div class="modal-footer">

                <button id="btnsubmit" class="btn btn-primary">Submit</button>
                <button id="btndelete" class="btn btn-danger">Delete</button>
                <button id="btnclose" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
<script src="http://localhost:8080/js/ingredientManagerScreen.js"></script>
{{>footer}}