{{>components/head}}
<div class="container">

    <div class="header page-header">
        <img src="http://localhost:8080/images/companyLogo.png" alt="Company Logo" width="100px" class="mrg-top-30">

        <h1>Lago Di Molveno</h1>

    </div>

    <h1>Menu</h1>
    <h4>Starter</h4>
    <table id="starterTable" class="dish-table table table-bordered table-hover white-bg" data-endpoint="dishes/cat/Starter">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="name">Name</th>
            <th data-data="price">Price</th>
        </tr>
        </thead>
    </table>
    <h4>Main</h4>
    <table id="mainTable" class="dish-table table table-bordered table-hover white-bg" data-endpoint="dishes/cat/Main">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="name">Name</th>
            <th data-data="price">Price</th>
        </tr>
        </thead>
    </table>
    <h4>Dessert</h4>
    <table id="dessertTable" class="dish-table table table-bordered table-hover white-bg" data-endpoint="dishes/cat/Dessert">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="name">Name</th>
            <th data-data="price">Price</th>
        </tr>
        </thead>
    </table>
    <h4>Drinks</h4>
    <table id="drinksTable" class="dish-table table table-bordered table-hover white-bg" data-endpoint="dishes/cat/NonAlcoholicDrinks">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="name">Name</th>
            <th data-data="price">Price</th>
        </tr>
        </thead>
    </table>
    <h4>Alcohol</h4>
    <table id="alcoholTable" class="dish-table table table-bordered table-hover white-bg" data-endpoint="dishes/cat/AlcoholicDrinks">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="name">Name</th>
            <th data-data="price">Price</th>
        </tr>
        </thead>
    </table>

    <div id="entryModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 id="modal-title" class="modal-title">Dish</h3>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Ingredients</label>
                        <table id="ingredientTable" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th data-data="id">id</th>
                                <th data-data="ingredient.ingredientName">Name</th>
                                <th data-data="ingredient.allergy">Allergy</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">

                    <button id="btnsubmit" class="btn btn-primary">Bestel</button>
                    <button id="btnclose" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <script src="http://localhost:8080/js/menu.js"></script>
</div>
{{>components/footer}}
