{{>header}}
<div class="container">
    <h1>Orders</h1>

    <table id="orderTable" class="display">
        <thead>
        <tr>
            <th data-data="id">id</th>
            <th data-data="ready">isReady</th>
            <th data-data="comment">Comment</th>
        </tr>
        </thead>
    </table>

    <div id="entryModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" onclick="deselect()" data-dismiss="modal">&times;</button>
                    <h3 id="modal-title" class="modal-title">Order</h3>

                </div>
                <div class="modal-body">

                    <form id="guestForm" enctype='text/plain'>

                        <div class="form-group">
                            <label for="comment">Commentaar</label>
                            <input id="comment" type="text" class="form-control" placeholder="Commentaar">
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ready">
                            <label class="form-check-label" for="ready">
                                is klaar
                            </label>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">

                    <button id="btnsubmit" class="btn btn-primary">Submit</button>
                    <button id="btndelete" class="btn btn-danger">Delete</button>
                    <button id="btnclose" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>
<script>
    var _restEndpoint = '/api/orders/';
    var _tableElement = $('#orderTable');
    var _modalElement = $('#entryModal');

    var _dataTable = _tableElement.DataTable({
        ajax: {
            url: '/api/orders/',
            dataSrc: "",
            type: "GET",
        },
    });

    _tableElement.on('click', 'tr', function () {
        _tableElement.find('tr.selected').removeClass('selected');
        $(this).toggleClass('selected');

        var data = _dataTable.row(this).data();

        if(!data) {
            console.error('unable to retrieve data');
            return;
        }

        $.get(_restEndpoint + data.id, function(data) {
            if(!data) return;

            openModalForObject(data);
        });

    });

    function openModalForObject(data) {
        var _commentField = _modalElement.find('#comment');
        var _readyField   = _modalElement.find('#ready');

        _commentField.val(data.comment);
        _readyField.prop('checked', data.ready);

        _modalElement.find('#modal-title').html('Edit Order');

        _modalElement.find('#btnsubmit')
            .off('click')
            .on('click', function() {
                var saveData = {
                    id: data.id,
                    comment: _commentField.val(),
                    ready: _readyField.is(':checked'),
                };

                $.ajax({
                    contentType : 'application/json',
                    url: _restEndpoint,
                    type: 'post',
                    data: JSON.stringify(saveData),
                    success: function() {
                        _modalElement.modal('hide');
                        reloadData();
                    },
                });
            });

        _modalElement.find('#btndelete')
            .off('click')
            .on('click', function() {
                var result = confirm('this action can not be undone');

                if(result) {
                    $.ajax({
                        contentType : 'application/json',
                        url: _restEndpoint + data.id,
                        type: 'delete',
                        success: function() {
                            _modalElement.modal('hide');
                            reloadData();
                        },
                    });
                }
            });

        _modalElement.modal('show');
    }

    function reloadData() {
        _dataTable.ajax.reload();
    }
</script>
{{>footer}}